<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blockly Demo: Generating JavaScript</title>
  <script src="../../msg/js/en.js"></script>
  <style>
    body {
      background-color: #fff;
      font-family: sans-serif;
    }
    h1 {
      font-weight: normal;
      font-size: 140%;
    }
  </style>
</head>
<body>
  <p>
    <button onclick="showCode()">Show Code</button>
    <button onclick="runCode()">Run Code</button>
  </p>

  <div style="width: 100%">
    <div id="blocklyDiv" style="height: 480px; width: 100%;"></div>
    <textarea id="blocklyConsole" style="height: 480px; width: 100%;"></textarea>
  </div>

  <xml id="toolbox" style="display: none">
    <category name="Functions">
      <block type='vile_main'></block>
      <block type='vile_function'></block>
      <block type='vile_parameter'></block>
      <block type='vile_return'></block>
      <block type='vile_function_call'></block>
      <block type='vile_function_call_statute'></block>
      <block type='vile_input_parameter'></block>
    </category>
    <category name="Conditions">
      <block type='vile_if'></block>
      <block type='vile_if_else'></block>
      <block type='vile_bool'></block>
    </category>
    <category name="Operations">
      <block type='vile_operation'></block>
      <block type='vile_bool'></block>
      <block type='vile_parenthesis'></block>
    </category>
    <category name="Loops">
      <block type='vile_times_loop'></block>
      <block type='vile_while_loop'></block>
    </category>
    <category name="Variables">
      <block type='vile_assignment'></block>
      <block type='vile_variable_init_assign'></block>
      <block type='vile_variable'></block>
      <block type='vile_list_init'></block>
      <block type='vile_list_element'></block>
      <block type='vile_list_access'></block>
      <block type='vile_list_assign'></block>
    </category>
    <category name="Constants">
      <block type='vile_bool_constant'></block>
      <block type='vile_integer_constant'></block>
      <block type='vile_float_constant'></block>
      <block type='vile_string_constant'></block>
    </category>
    <category name="Print">
      <block type='vile_print'></block>
    </category>
  </xml>

  <xml id="startBlocks" style="display: none">
    <block type="vile_main" inline="false" x="20" y="20">
    </block>
  </xml>

  <script>
    var workspace = Blockly.inject('blocklyDiv',
        {media: '../../media/',
         toolbox: document.getElementById('toolbox')});
    Blockly.Xml.domToWorkspace(workspace, document.getElementById('startBlocks'));
    workspace.addChangeListener(showCode);
  </script>

</body>
</html>
